/* body {
  overflow: hidden;
} */

div.alert {
  margin: 0;
  padding: 0;
}

table.table-dailer tr#trDivVideo {
  display: none;
  /* width: 270px; */
}

table.table-dailer tr#divDailerBox {
  display: none;
}

/* table.table-dailer {
  width: 100%;
} */

table.table-dailer td {
  padding: .2em;
  margin: 0;
  text-align: center;
  /* border: 1px solid; */
}

table.table-dailer td video {
  background: black;
  width: 100%;
}

table.table-dailer td svg {
  width: 1em;
  height: 1em;
  margin-left: -.3em;
  margin-top: -.2em;
}

table.table-dailer td span.span-dailer-title button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
}

table.table-dailer td span.span-dailer-title button:first-child {
  float: left;
  margin-left: .5em;
}

table.table-dailer td span.span-dailer-title button:last-child {
  float: right;
  margin-right: .2em;
}

table.table-dailer td label {
  width: 100%;
  margin-bottom: 0;
  cursor: all-scroll;
}

table.table-btn-dailer td button {
  width: 2.5em;
  height: 2.5em;
}