div.div-conenxt-menu {
    position: absolute;
}

div.div-conenxt-menu > div {
    /* margin: 0;
    padding: 0; */
    padding: .5rem 0;
    margin: .125rem 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

div.div-conenxt-menu > div a {
    color: black;
    display: flex;
}

div.div-conenxt-menu > div a:hover {
    background: #f8f9fa;
}

div.div-conenxt-menu > div a svg {
    margin-right: 0.3em;
    margin-top: 0.2em;
}