div.div-alert-dailer {
    width: 240px;
    position: absolute;
    padding: .3em;
    z-index: 10;
}

div.div-alert-dailer div {
    text-align: center;
}

div.div-alert-dailer div video {
    background: black;
    width: 230px;
    max-width: 230px;
}

div.div-alert-dailer div:last-child div:first-child svg {
    position: absolute;
    color: white;
    margin: 0.2em;
    right: .2em;
}

div.div-alert-dailer div.input-group input {
    font-size: larger;
    font-weight: bold;
}

div.div-alert-dailer div.input-group div.input-group-append svg {
    cursor: pointer;
}

div.div-alert-dailer button {
    margin: .5em;
    padding-left: .9em;
    padding-right: .9em;
}

div.div-alert-dailer button.btn-register {
    width: auto;
}

div.div-alert-dailer button:hover
,div.div-alert-dailer div.input-group div.input-group-append svg:hover {
    color: brown;
    /* font-weight: bold; */
}

div.div-alert-dailer button svg {
    margin-left: -.2em;
    margin-top: -.2em;
}

div.div-alert-dailer div button {
    width: 40px;
    height: 38px;
}

div.div-alert-dailer div:first-child {
    width: 100%;
}

div.div-alert-dailer div:first-child span.span-dailer-title {
    margin-right: 1em;
    font-weight: bold;
}

div.div-alert-dailer div:first-child label {
    width: 100%;
    margin-bottom: 0;
}

div.div-alert-dailer div:first-child span.span-dailer-title svg {
    float: left;
    cursor: pointer;
}

div.div-alert-dailer div:first-child span.span-dailer-title a {
    margin-top: .3em;
}

div.div-alert-dailer div:first-child a {
    position: absolute;
    padding: .2em;
    right: .2em;
    top: 0;
    padding-top: 0;
}

div.div-alert-dailer form div.form-group {
    margin-bottom: .3em;
}

div.div-alert-dailer div.form-group-user {
    text-align: left;
    background: white;
    margin-bottom: .2em;
}

div.div-alert-dailer div.div-text-align-left {
    text-align: left;
}


div.div-alert-dailer div.form-group-user label {
    background: #cce5ff;
    padding: .3em;
    width: 100%;
    margin-bottom: 0;
}

div.div-alert-dailer div.form-group-user a {
    padding: .3em;
    margin-bottom: 0;
    border-bottom: 1px solid #dee2e6;
}

div.div-alert-dailer div.form-group-user a:hover {
    background-color: #cce5ff;
}
