div.div-menu-right {
  top: 55px;
  z-index: 10 !important;
}

div.div-menu-right + div > div.bm-burger-button {
  z-index: 150 !important;
  color: #007bff !important;
}

div.div-menu-right + div > div.bm-burger-button:hover {
  color: #0052aa !important;
}

div.div-margin-right-22 {
  margin-right: 22%;
}