div.mr-auto {
    margin-left: .5em;
    margin-right: .5em;
}

div.mr-auto nav.nav-tabs {
    border-bottom: none !important;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-right: 2em; */
}

div.mr-auto div:first-child {
    display: flex;
}

div.mr-auto nav.nav-tabs a.nav-link {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: none;
    white-space: nowrap;
    color: #007bff;
}

div.mr-auto nav.nav-tabs a.nav-link.active {
    background: none;
}

/* div.mr-auto nav.nav-tabs a.nav-link:first-child {
    position: absolute;
    margin-left: -2em;
}

div.mr-auto nav.nav-tabs a.nav-link:last-child {
    position: absolute;
} */